/* Body */
.body {
    height: 100vh;
}

/* Navbar */
.navbar{
    display: flex;
    padding: 24px;
    justify-content: center;
}

.logo {
    max-width:10%;
}

/* Colors */
.bg-RoxoEscuro{
    background-color: #6566BE;
}

.bg-RoxoClaro{
    background-color: #C0C1DA;
}

.bg-BegeClaro{
    background-color: #FFF6F6;
}

.bg-Salmao{
    background-color: #FA8D85;
}

.roxoEscuro{
    color: #6566BE;
}

.roxoClaro{
    color: #C0C1DA;
}

.begeClaro{
    color: #FFF6F6;
}

.salmao{
    color: #FA8D85;
}

/* Forms */
.form { 
    width: 50%;
    border-radius: 15px;
    border: 1px solid #6566BE;
    justify-self: center;
}