/* Default */

body {
    margin: 0;
    background-color: #FFF7F7;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.w-full {
    width: 100%;
}

.btn {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: #6566BE solid 1px;
    padding: 8px 24px;
    background-color: #6566BE;
}

.btn-outline {
    color: #6566BE;
    border-radius: 10px;
    border: #6566BE solid 1px;
    padding: 8px 24px;
    background-color: transparent;
}

.btn-active {
    background-color: #6566BE;
    color: white;
}

.btn-bar {
    display: flex;
}

.btn-flex {
    flex: auto;
    margin: 0 10px;
}

.btn-clear {
    border: none;
    background: none;
    font-size: 150%;
    color: #6566BE;
}

.padding {
    padding: 24px;
}

.d-flex{
    display: flex;
}

/* form */

.form {
    width: 40%;
    border: 2px solid #6566BE;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
}

.form h2{
    color:#6566BE;
    text-align: center;
}

.form-group {
    margin-bottom: 12px;
    margin-bottom: 12px;
}

.form-group label {
    color: #6566BE;
    font-size: 80%;
}

.form-group input {
    width: 100%;
    border: 1px solid #6566BE;
    border-radius: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group textarea{
    width: 100%;
    border: 1px solid #6566BE;
    border-radius: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group select{
    width: 100%;
    border: 1px solid #6566BE;
    border-radius: 10px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-radio{
    display: inline-block;
}

.form-radio > input{
    width: fit-content;
}

.d-none{
    display: none !important;
}

.config {
    display: inline-block;
    margin: 5px;
}

.label-center{
    text-align: center;
}

/* modal */

.modal {
    position: fixed;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1;
    width: 85%;
    height: 85%;
    display: flex;
}

.modal > .modal-content{
    margin: 10px auto;
    background-color: #FFF7F7;
}

.modal-close{
    width: 100%;
    text-align: right;
}

/* Navbar */

.navbar {
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar>.logo {
    height: 60%;
}

.navbar-btn {
    position: fixed;
    right: 24px;
}

.casa-btn {
    position: fixed;
    left: 24px;
}

.navbar > label {
    color: #6566BE;
}

/* Sidebar */

.sidebar {
    width: 15vw;
    list-style: none;
    height: 90vh;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.sidebar>a {
    text-decoration: none;
    background-color: #FA8D85;
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border-radius: 0 10px 10px 0;
    font-family: sans-serif;
    width: 25%;
}

a>label {
    display: none;
}

.sidebar>.active {
    background-color: #6566BE !important;
    font-weight: bold;
    width: 100%;
}

.active>label {
    display: block;
}

/* SideAndBody */

.SideAndBody {
    display: flex;
}

/* Body */

.body {
    display: inline-flex;
    height: 90vh;
    width: 85vw;
}

.login {
    width: 100vw !important;
    height: 90vh;
}

/* Rules */

.postit {
    width: 25%;
    min-height: 75px;
    background-color: #C0C1DA;
    padding: 24px;
    margin-bottom: 24px;
    color: #6566BE;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #8d8ebb4a;
}

.postit>.username {
    font-size: 80%;
    cursor: pointer;
}

.postit>.text {
    display: block;
    padding-top: 12px;
    max-height: 70px;
    /* overflow-y: scroll; */
}

.postit>.btn-clear {
    padding: 0;
    padding-top: 5%;
    text-align: left;
    width: fit-content;
}

.postit-none {
    width: 25%;
    min-height: 75px;
    padding: 24px;
    margin-bottom: 24px;
    background-color: transparent;
    display: inline-flex;
}

.add{
    font-size: 50px;
    width: fit-content;
    margin: auto;
    padding: 0;
}

/* to-do */

.todo {
    border: 2px solid #6566BE;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.todo>input {
    display: inline-block;
    width: 5%;
    margin: 0;
}

.todo>label {
    width: 80%;
    display: inline-block;
    color: #6566BE;
}

.todo>.actions {
    width: 15%;
    display: inline-block;
    text-align: right;
}

.evenly {
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}